# Configurações locais / Credenciais
.env

# Ambiente virtual do Python
venv/
.venv/
env/
ENV/

# Python cache / Compilação
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/

# Editores de código / IDEs
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp
